/* DEFAULT ADJUSTMENTS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

header {
  display: flex;
  width: 100%;
  align-items: center;
  text-align: center;
  padding: 20px 75px;
  justify-content: space-between;
}

body {
  background-color: #f9faf4;
}

nav {
  flex: 2;
}

/* NAVBAR POSITION FIXINGS */
.logo-container,
.link-container,
.contact-container {
  display: flex;
}

.logo-container {
  flex: 1;
  justify-content: flex-start;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.2em;
  color: #f17a7e;
}

.logo-container,
a {
  color: #f9a66c;
  text-decoration: none;
}

.link-container {
  list-style-type: none;
  justify-content: space-between;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.2em;
  color: #4a6163;
}

.contact-container {
  flex: 1;
  justify-content: flex-end;
}

.link a {
  display: inline;
  text-decoration: none;
  color: #4a6163;
}

/* BUTTON ADJUSTMENTS */
.hidden {
  display: none;
}

.address {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 33%;
  background-color: rgba(249, 166, 108, 0.7);
  padding: 6rem;
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
  text-align: center;
  color: #4a6163;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(122, 122, 122, 0.3);
  backdrop-filter: blur(5px);
  z-index: 5;
}

.overlay1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 500vh;
  background-color: rgba(122, 122, 122, 0.3);
  backdrop-filter: blur(5px);
  z-index: 5;
}

.btnCloseContact {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 5rem;
  color: #4a6163;
  cursor: pointer;
  border: none;
  background: none;
}

.con {
  margin-bottom: 1rem;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

/* NAVBAR ADJUSTMENTS */
.btnContact {
  border: 2px solid #f9a66c;
  background: transparent;
  color: #f9a66c;
  width: 150px;
  height: 45px;
  cursor: pointer;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.2em;
}

/* MAIN PAGE ADJUSTMENTS */
.hello {
  color: #f9a66c;
  font-weight: 600;
  font-size: 85px;
  line-height: 76px;
  padding: 3em 0em 0em 75px;
}

.paraIntro {
  color: #f17a7e;
  font-size: 30px;
  position: absolute;
  top: 17em;
  left: 75px;
}

.paraIntro a {
  color: #4a6163;
}

.AboutMeIntro {
  color: #f17a7e;
  font-size: 28px;
  position: absolute;
  left: 75px;
  top: 7em;
  right: 400px;
}

.AboutMeIntro a {
  color: #4a6163;
}

.MainPortIntro {
  color: #f17a7e;
  font-size: 28px;
  position: absolute;
  left: 75px;
  top: 7em;
  right: 75px;
}
.PortIntro {
  color: #f17a7e;
  font-size: 28px;
  text-align: center;
  padding-left: 75px;
  padding-right: 75px;
  padding-top: 20px;
  padding-bottom: 50px;
}

.mainText {
  padding: 30px 75px 0px;
  font-size: 50px;
  color: #f9a66c;
}

main {
  height: 90vh;
  width: 100%;
}

.mainExtended {
  height: 180vh;
  width: 100%;
}

/* PORTFOLIO PAGE */
.flex-container {
  display: flex;
  background-color: #f9faf4;
  text-align: center;
  justify-content: center;
  margin-top: 50px;
}

.portfolioExample {
  width: 450px;
  height: 400px;
  margin: 10px;
  margin-top: 40px;
  margin-left: 50px;
  margin-right: 50px;
}

.portfolioExample img {
  width: 100%;
  border-radius: 8px;
}

.PortImg {
  height: 600px;
  margin-top: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
}

.PortMargin {
  margin-top: 150px;
}

.InternIntro {
  color: #f17a7e;
  font-size: 28px;
  padding-left: 75px;
  padding-top: 20px;
  padding-right: 75px;
}
/* BALL AND ANIMATION */

.ballsAbsol {
  position: absolute;
  right: 75px;
  top: 18em;
}

.balls {
  float: right;
  padding-right: 75px;
}
.ball {
  margin: 0;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-image: linear-gradient(to bottom left, #fee140, #fa709a);
  animation: ball 5s ease infinite, spin 5s ease infinite;
  z-index: -1;
  overflow: hidden;
  background-size: 300% 100%;
}

/* SCROLL WHEEL AND ANIMATION  */
.scroll {
  width: 30px;
  position: absolute;
  left: 50%;
  bottom: 10%;
}

.scroll1 {
  width: 30px;
  position: absolute;
  left: 50%;
  bottom: 0;
}

.circle {
  animation: circleAnim 1.5s infinite alternate-reverse;
}

/* WAVES */
.wave1 {
  display: block;
}

.wave2 {
  display: block;
}

/* MIDDLE WRAPPER */
.middle-wrapper {
  width: 100%;
  height: 100vh;
  background-color: #f9a66c;
  position: relative;
}

.middle-wrapper-extended {
  width: 100%;
  background-color: #f9a66c;
  position: relative;
}

.portText {
  padding: 0px 75px;
  font-size: 50px;
  color: #4a6163;
}

.testleft {
  float: right;
  padding: 20px;
  width: 20%;
}

.MiddlePara {
  color: #4a6163;
  font-size: 28px;
  padding-left: 75px;
  padding-top: 20px;
  padding-right: 75px;
}

/* BOTTOM WRAPPER */

.bottom-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
}

.contactText {
  padding: 0px 75px;
  font-size: 50px;
  color: #f9a66c;
}

.contactBox {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -37.5vh;
  margin-left: -50vh;
  width: 100vh;
  height: 75vh;
  background: #f9a66c;
  border-radius: 107px;
  /* margin-top: 50px; */
}
.HolisticImg {
  display: flex;
  justify-content: space-around;
}

.HolisticImg Img {
  height: 450px;
  padding: 20px;
}
/* ANIMATIONS */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@-webkit-keyframes circleAnim {
  from {
    -webkit-transform: translate(262px, 798px);
    transform: translate(262px, 798px);
    z-index: 5;
  }
  to {
    -webkit-transform: translate(262px, 830px);
    transform: translate(262px, 830px);
  }
}

@keyframes ball {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 99% 0;
  }
  100% {
    background-position: 0 0;
  }
}

/* MEDIA QUERIES  */
@media only screen and (max-width: 1500px) {
  .ball {
    display: none;
  }
  main {
    height: auto;
  }

  .AboutMeIntro {
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 20px;
    padding-bottom: 50px;
    position: static;
  }

  .hello {
    font-size: 70px;
    padding: 75px 75px 0px;
  }
  .paraIntro {
    position: static;
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 20px;
    font-size: 26px;
  }

  .logo-container {
    font-size: 10px;
  }

  .link-container {
    font-size: 12px;
  }

  .btnContact {
    font-size: 12px;
  }
  .PortMargin {
    margin-top: auto;
  }
  .MainPortIntro {
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 20px;
    position: static;
  }

  .address {
    width: 40%;
  }

  .testleft {
    float: right;
    padding: 20px;
    width: 30%;
  }
  .HolisticImg Img {
    height: 350px;
    padding: 20px;
  }
}

@media only screen and (max-width: 800px) {
  header {
    display: block;
    padding: 20px 20px;
  }
  main {
    height: 90vh;
  }
  .logo-container,
  .ball,
  .wave1,
  .wave2,
  .btnContact,
  .circle,
  .scroll,
  .scroll1,
  .HolisticImg {
    display: none;
  }

  .hello {
    font-size: 40px;
    text-align: center;
    padding: 1.5em 0 0 0;
    line-height: 50px;
  }
  .paraIntro {
    font-size: 25px;
    text-align: center;
    position: static;
    padding: 20px 30px;
  }
  .AboutMeIntro {
    font-size: 25px;
    text-align: center;
    position: static;
    padding: 2em 1.5em;
  }

  .MainPortIntro {
    padding: 30px 30px;
    text-align: center;
  }
  .PortMargin {
    display: none;
  }
  .mainText {
    text-align: center;
    font-size: 40px;
    padding: 30px 30px;
  }

  .InternIntro {
    font-size: 25px;
    text-align: center;
    padding: 30px 30px;
  }

  .testleft {
    display: none;
  }
  .MiddlePara {
    font-size: 25px;
    text-align: center;
    position: static;
    padding: 2em 1.5em;
  }
  .link-container {
    font-size: 10px;
  }

  .portText,
  .contactText {
    font-size: 30px;
    text-align: center;
    padding-top: 1em;
  }

  .middle-wrapper {
    height: 110vh;
    background: linear-gradient(63.83deg, #f17a7e 0%, #f9a66c 78.02%);
  }

  .bottom-wrapper {
    height: 90vh;
  }

  .contactBox {
    display: none;
  }
}

@media only screen and (max-height: 750px) {
  .ball,
  .circle,
  .scroll,
  .scroll1 {
    display: none;
  }
}

/* SLIDER */

.slider {
  width: 800px;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
  position: absolute;
  right: 30%;
  margin-top: 100px;
}

.slides {
  width: 500%;
  height: 500px;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 20%;
  transition: 2s;
}

.slide img {
  width: 800px;
  height: 500px;
}

/* css for manual slide nav */

.navigation-manual {
  position: absolute;
  width: 800px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 2px solid #f9a66c;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background: #f9a66c;
}

#radio1:checked ~ .first {
  margin-left: 0;
}
#radio2:checked ~ .first {
  margin-left: -20%;
}
#radio3:checked ~ .first {
  margin-left: -40%;
}
#radio4:checked ~ .first {
  margin-left: -60%;
}

/* css for automatic navigation  */

.navigation-auto {
  position: absolute;
  display: flex;
  width: 800px;
  justify-content: center;
  margin-top: 460px;
}
.navigation-auto div {
  border: 2px solid #f9a66c;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
  background: #f9a66c;
}
#radio2:checked ~ .navigation-auto .auto-btn2 {
  background: #f9a66c;
}
#radio3:checked ~ .navigation-auto .auto-btn3 {
  background: #f9a66c;
}
#radio4:checked ~ .navigation-auto .auto-btn4 {
  background: #f9a66c;
}
