/* DEFAULT ADJUSTMENTS */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

header {
  display: flex;
  width: 100%;
  align-items: center;
  text-align: center;
  padding: 20px 75px;
  justify-content: space-between;
}

body {
  background-color: #f9faf4;
}

nav {
  flex: 2;
}

/* NAVBAR POSITION FIXINGS */
.logo-container,
.link-container,
.contact-container {
  display: flex;
}

.logo-container {
  flex: 1;
  justify-content: flex-start;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.2em;
  color: #f17a7e;
}

.link-container {
  list-style-type: none;
  justify-content: space-between;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.2em;
  color: #4a6163;
}

.contact-container {
  flex: 1;
  justify-content: flex-end;
}

.link {
  display: inline;
}

/* NAVBAR ADJUSTMENTS */
.btnContact {
  border: 2px solid #f17a7e;
  background: transparent;
  color: #f17a7e;
  width: 150px;
  height: 45px;
  cursor: pointer;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.2em;
}

/* MAIN PAGE ADJUSTMENTS */
.hello {
  color: #f9a66c;
  font-weight: 600;
  font-size: 85px;
  line-height: 76px;
  padding: 3em 0em 0em 75px;
}

.paraIntro {
  color: #f17a7e;
  font-size: 30px;
  position: absolute;
  top: 17em;
  left: 75px;
}

/* BALL AND ANIMATION */
.ball {
  position: absolute;
  margin: 0;
  top: 18em;
  right: 75px;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-image: linear-gradient(to bottom left, #fee140, #fa709a);
  animation: ball 5s ease infinite, spin 5s ease infinite;
  z-index: -1;
  overflow: hidden;
  background-size: 300% 100%;
}

/* SCROLL WHEEL AND ANIMATION  */
.scroll {
  width: 30px;
  position: absolute;
  left: 50%;
  bottom: 10%;
}

.scroll1 {
  width: 30px;
  position: absolute;
  left: 50%;
  bottom: 0;
}

.circle {
  animation: circleAnim 1.5s infinite alternate-reverse;
}

/* WAVES */
.wave1 {
  display: block;
}

.wave2 {
  display: block;
}

main {
  height: 90vh;
  width: 100%;
}

/* MIDDLE WRAPPER */

.middle-wrapper {
  width: 100%;
  height: 120vh;
  background-color: #f9a66c;
  position: relative;
}

.portText {
  padding: 0px 75px;
  font-size: 50px;
  color: #4a6163;
}

/* BOTTOM WRAPPER */

.bottom-wrapper {
  width: 100%;
  height: 90vh;
}

.contactText {
  padding: 0px 75px;
  font-size: 50px;
  color: #f9a66c;
}

/* ANIMATIONS */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@-webkit-keyframes circleAnim {
  from {
    -webkit-transform: translate(262px, 798px);
    transform: translate(262px, 798px);
    z-index: 5;
  }
  to {
    -webkit-transform: translate(262px, 830px);
    transform: translate(262px, 830px);
  }
}

@keyframes ball {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 99% 0;
  }
  100% {
    background-position: 0 0;
  }
}

/* MEDIA QUERIES  */
@media only screen and (max-width: 800px) {
  body {
  }
  header {
    display: block;
    padding: 20px 50px;
  }
  main {
    height: 70vh;
  }
  .logo-container,
  .ball,
  .wave1,
  .wave2,
  .btnContact,
  .circle,
  .scroll,
  .scroll1 {
    display: none;
  }

  .hello {
    font-size: 40px;
    text-align: center;
    padding: 1.5em 0 0 0;
    line-height: 50px;
  }
  .paraIntro {
    font-size: 25px;
    text-align: center;
    position: static;
    padding: 2em 1.5em;
  }
  .link-container {
    font-size: 10px;
  }

  .portText,
  .contactText {
    font-size: 30px;
    text-align: center;
    padding-top: 1em;
  }

  .middle-wrapper {
    height: 90vh;
  }

  .bottom-wrapper {
    height: 70vh;
  }
}

@media only screen and (max-width: 1450px) {
  .ball {
    display: none;
  }
}

@media only screen and (max-height: 750px) {
  .ball,
  .circle,
  .scroll,
  .scroll1 {
    display: none;
  }
}
